@font-face {
    font-family: Chakra Petch; /* Name your font family */
    src: url('Chakra_Petch/ChakraPetch-Light.ttf'),
        url('Chakra_Petch/ChakraPetch-Bold.ttf'); /* Locate the .ttf file within your directory*/
}

body {
    margin: 0;
    font-family: Chakra Petch, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 34px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ebebeb;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 8px;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7;
    border-radius: 16px;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: initial;
    z-index: 1;
}

#navbar-main-components {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(#ffd19c, #ffcbe2);
    padding: 0px 30px;
    box-shadow: 0px 5px 10px lightgray;
}

#navbar-empty-space {
    height: 70px;
}

#dashboard-title {
    font-weight: bold;
}

#dashboard-editor {
    display: flex;
    width: 120px;
    justify-content: space-between;
    align-self: center;
    line-height: 0;
}

#dashboard-editor span:hover {
    cursor: pointer;
}

#add-button {
    line-height: 0;
}

.grid-sections {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    padding: 20px;
}

.sections, .sections-hover {
    border: medium dashed lightgray;
    border-radius: 5px;
    height: 300px;
    max-height: 300px;
    width: 400px;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sections-hover:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.dropdown-arrow {
    width: 0; 
    height: 0;
    border-right: 30px solid transparent;
    border-top: 30px solid white;
    rotate: 45deg;
    margin-top: -10px;
}

.dropdown-hover-element {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 10px;
    bottom: 60px;
}

#add-dropdown-arrow {
    position: relative;
    top: 35px;
    left: 10px;
}

#add-dropdown {
    position: fixed;
    background-color: white;
    display: inline-grid;
    right: 50px;
    width: 110px;
    justify-content: center;
    padding: 5px;
    box-shadow: 0px 8px 16px 0px lightgray;
}

.add-dropdown-option {
    width: 110px;
    text-align: center;
}

.add-dropdown-option:hover {
    background-color: #dddddd;
    cursor: pointer;
}

textarea {
    font-family: Chakra Petch, sans-serif;
    font-size: 16px;
    padding: 14px;
    border: double 10px lightgray;
}

textarea:focus {
    outline: none;
}

.notepad-div {
    padding-top: 8px;
    border-radius: 5%;
    background: linear-gradient(#e2e2e2 50%, #ffffff00 50%);;
}

label {
    position: relative;
    font-size: 18px;
    left: 23px;
}

.notepad {
    position: relative;
    top: 3px;
    resize: none;
    height: 230px;
    width: 360px;
}

#footer {
    position: sticky;
    bottom: 0;
    max-width: 100%;
    color: black;
}