@font-face {
    font-family: Chakra Petch; /* Name your font family */
    src: url('Chakra_Petch/ChakraPetch-Light.ttf'),
        url('Chakra_Petch/ChakraPetch-Bold.ttf'); /* Locate the .ttf file within your directory*/
}

body {
    margin: 0;
    font-family: Chakra Petch, sans-serif;
}

.dashboard {
    position: sticky;
    top: 0px;
}

.dashboard-navbar {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(#ffdfbb, #ffcbe2);
    max-width: 100%;
    padding: 0px 30px;
    box-shadow: 0px 5px 10px lightgray;
}

.dashboard-title {
    font-weight: bold;
}

.dashboard-editor {
    display: flex;
    width: 170px;
    justify-content: space-between;
    align-self: center;
    line-height: 0;
}

.add-section-button {
    line-height: 0;
}

.dashboard-editor span:hover {
    cursor: pointer;
}

.grid-sections {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    margin: 20px;
}

.sections, .sections-hover {
    border: medium dotted lightgray;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sections-hover:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.dropdown-arrow {
    width: 0; 
    height: 0;
    border-right: 30px solid transparent;
    border-top: 30px solid white;
    rotate: 45deg;
    margin-top: -10px;
}

#add-dropdown-arrow {
    position: absolute;
    left:20px;
}

.add-dropdown {
    position: fixed;
    background-color: white;
    display: inline-grid;
    right: 99px;
    width: 110px;
    justify-content: center;
    padding: 5px;
    box-shadow: 0px 8px 16px 0px lightgray;
}

.add-dropdown-option {
    width: 110px;
    text-align: center;
}

.add-dropdown-option:hover {
    background-color: #dddddd;
    cursor: pointer;
}