::placeholder {
    color: white;
}

/* ========== GENERAL SECTIONS =========== */

.sections {
    position: relative;
    padding-top: 32px;
}

.grid-sections {
    display: grid;
    gap: 8px 0px;
    margin: 30px 0px 50px;
    width: 80%;
    justify-items: center;
    justify-content: space-between;
}

.add-new-section {
    border: medium dashed rgb(109, 109, 109);
    border-radius: 5px;
    height: 300px;
    max-height: 300px;
    width: 400px;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: lightgray;
    font-weight: bold;
    margin-bottom: 40px;
}

.add-new-section:hover,
.calendar-hover {
    background-color: rgb(45, 45, 45);
    width: 400px;
    cursor: pointer;
}

.edit-component,
.no-label-edit-component {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    width: 160px;
    left: 230px;
    justify-content: space-evenly;
    margin-bottom: 5px;
    color: white;
}

.no-label-edit-component {
    top: 1px;
    left: 255px;
}

.add-section-padding {
    margin: 35px 5px 5px;
}

@media only screen and (max-width: 1000px) {
    .grid-sections {
        grid-template-columns: repeat(1, 100vw);
    }
}

@media only screen and (min-width: 1000px) {
    .grid-sections {
        grid-template-columns: repeat(2, 50vw);
        padding: 0px 0px 50px;
    }
}

@media only screen and (min-width: 1500px) {
    .grid-sections {
        grid-template-columns: repeat(3, 33vw);
    }
}

@media only screen and (min-width: 2000px) {
    .grid-sections {
        grid-template-columns: repeat(4, 25vw);
    }
}

/* ========== OPTIONS ========== */

#options-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgb(33, 33, 33);
    height: 100%;
    width: 140px;
    top: 40px;
    right: 0;
    padding: 80px 10px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
    z-index: 1;
}

.option:hover {
    background-color: #313131;
    cursor: pointer;
    width: 120px;
    text-align: center;
    font-weight: bold;
}

/* ========== SECTION LABELS ========== */

label,
.label-textbox {
    position: relative;
    font-size: 18px;
    left: 23px;
}

label {
    font-weight: bold;
}

.label-div {
    position: relative;
    padding-top: 6px;
    background: linear-gradient(#e2e2e2 50%, #ffffff00 50%);
    max-width: 400px;
}

.label-editor:hover {
    cursor: pointer;
}

.label-textbox {
    border: none;
    font-family:
        Chakra Petch,
        sans-serif;
    width: 200px;
}

/* ========== NOTEPADS & CHECKLISTS ========== */

textarea:focus {
    outline: none;
}

.notepad {
    font-family:
        Chakra Petch,
        sans-serif;
    font-size: 16px;
    resize: none;
    width: 350px;
    margin-top: 2px;
    padding: 0px;
}

.notepad,
.checklist,
.google-data-div {
    position: relative;
    top: 3px;
    height: 265px;
    width: 400px;
    color: white;
    border: double 6px #e2e2e2;
    background-color: rgb(95, 95, 95);
    padding: 15px;
    overflow-y: scroll;
}

.checkbox-item {
    margin: 5px 0px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: rgb(78, 78, 78);
    margin: 4px 8px;
    vertical-align: top;
}

input.temporary-checkbox[type="checkbox"] {
    pointer-events: none;
}

/* ========== REACT CALENDAR ========== */

.react-calendar {
    height: 300px;
    width: 400px;
    max-width: 100%;
    background: rgb(95, 95, 95);
    border: double 6px #e2e2e2;
    line-height: 2em;
    overflow-y: scroll;
}

.react-calendar::-webkit-scrollbar {
    width: 0px;
}

.react-calendar--doubleView {
    width: 360px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 360px;
    margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.react-calendar button {
    margin: 0;
    border: 1px solid rgb(150, 150, 150);
    outline: none;
}

.react-calendar button:enabled:hover {
    cursor: pointer;
}

.react-calendar__navigation {
    display: flex;
    height: 40px;
    margin-bottom: 0em;
}

.react-calendar__navigation__label__labelText,
.react-calendar__navigation__label__labelText--from {
    font-size: 15px;
    font-weight: bold;
}

.react-calendar__navigation__arrow,
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__arrow,
.react-calendar__navigation__prev-button,
.react-calendar__navigation__arrow,
.react-calendar__navigation__next-button,
.react-calendar__navigation__arrow,
.react-calendar__navigation__next2-button {
    font-size: 15px;
}

.react-calendar__navigation button {
    min-width: 40px;
}

.react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font: inherit;
    font-size: 0.9em;
    font-weight: bold;
    color: rgb(222, 222, 222);
}

.react-calendar__month-view__weekNumbers,
.react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font: inherit;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
}

.react-calendar__month-view__days__day--weekend {
    color: #ff0808;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
    color: #a8a8a8;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}

.react-calendar__tile {
    max-width: 100%;
    padding: 0.6px;
    background: none;
    text-align: center;
    line-height: 16px;
    font: inherit;
    font-size: 1em;
}

.react-calendar__tile:disabled {
    background-color: #f0f0f0;
    color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
    color: #cdcdcd;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #999999;
    font-weight: bold;
}

.react-calendar__tile--now {
    background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #ffffb8;
}

.react-calendar__tile--hasActive {
    background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
}

.react-calendar__tile--active {
    background: #65baff;
    color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}

/* ========== GOOGLE DATA DISPLAYS ========== */

.data-display-options,
.data-label-options {
    padding-top: 6px;
}

.refresh-button {
    position: absolute;
    font-size: 22px;
    top: 4px;
    right: 20px;
}

.refresh-notification {
    position: absolute;
    font-size: 16px;
    font-weight: bolder;
    color: red;
    top: 4px;
    right: 15px;
}

.refresh-button:hover,
.refresh-notification:hover {
    cursor: pointer;
}

#google-data-div {
    padding: 0;
}

#google-file-section-editor {
    overflow: hidden;
    position: absolute;
    padding: 24px;
    background-color: #000000bf;
    width: 100%;
    height: 100%;
    text-align: center;
}

#google-file-url-div {
    padding: 20px;
}

.google-files-input,
.display-selector,
.data-point-selector {
    font-family:
        Chakra Petch,
        sans-serif;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: #3f3f3f;
    border: 1px solid rgb(103, 103, 103);
    border-radius: 3px;
}

.google-files-input,
.data-point-selector {
    width: 300px;
    max-width: 300px;
}

.data-display-prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.data-chart-div {
    padding: 0;
    margin: 0;
}

.google-file-url-div,
.editor-labels {
    padding: 0;
    margin: 0;
}

.data-counters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.data-counters-title,
.data-counters-data {
    margin: 0;
}

.data-counters-title {
    font-weight: 400;
}

.data-counters-data {
    font-size: 120px;
}

.use-file-button,
.save-file-options-button {
    display: flex;
    position: relative;
    color: white;
    background-color: #373737;
    font-family:
        Chakra Petch,
        sans-serif;
    font-size: 14px;
    border: none;
    margin: 6px auto;
    padding: 2px 10px;
    border-radius: 3px;
}

.use-file-button:hover,
.save-file-options-button:hover {
    cursor: pointer;
    background-color: #272727;
}
