@font-face {
    font-family: Chakra Petch; /* Name your font family */
    src: url("Chakra_Petch/ChakraPetch-Light.ttf"),
        url("Chakra_Petch/ChakraPetch-Bold.ttf"); /* Locate the .ttf file within your directory*/
}

* {
    outline: 1px solid transparent !important;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:
        Chakra Petch,
        sans-serif;
    height: 100vh;
    background-color: rgb(49, 49, 49);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 34px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 8px;
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7;
    border-radius: 16px;
    cursor: pointer;
}

#navbar,
#footer {
    position: fixed;
    width: 100%;
    overflow: initial;
    z-index: 2;
}

#navbar {
    top: 0;
}

#footer {
    bottom: 0;
}

#main-navbar-components,
#main-footer-components {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    background: linear-gradient(rgb(147, 44, 85), rgb(49, 5, 30));
}

#main-navbar-components {
    color: white;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
}

#main-footer-components {
    color: white;
    box-shadow: 0px -3px 10px rgb(0, 0, 0);
}

#navbar-empty-space {
    height: 70px;
}

#footer-empty-space {
    height: 20px;
}

#dashboard-title {
    font-weight: bold;
}

#dashboard-editor {
    display: flex;
    width: 120px;
    justify-content: space-between;
    align-self: center;
    line-height: 0;
}

#dashboard-editor span:hover {
    cursor: pointer;
}

/* #add-button {
    line-height: 0;
} */
/* 
.dropdown-arrow {
    width: 0; 
    height: 0;
    border-right: 30px solid transparent;
    border-top: 30px solid white;
    rotate: 45deg;
    margin-top: -10px;
}

.dropdown-hover-element {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 10px;
    bottom: 60px;
}

#add-dropdown-arrow {
    position: relative;
    top: 35px;
    left: 10px;
}

#add-dropdown {
    position: fixed;
    background-color: white;
    display: inline-grid;
    right: 50px;
    width: 110px;
    justify-content: center;
    padding: 5px;
    box-shadow: 0px 8px 16px 0px lightgray;
}

.add-dropdown-option {
    width: 110px;
    text-align: center;
}

.add-dropdown-option:hover {
    background-color: #dddddd;
    cursor: pointer;
} */
